{% extends 'base.html.twig' %}

{% block title %}Std{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/std.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Std edit
        	<div class="pull-right">
                {{ form_start(delete_form) }}
                    <button type="button" onclick="window.history.back()" class="btn btn-xs btn-warning">Back</button>
                    <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(edit_form) }}
                <div class="col-md-8">
                    {{ form_row(edit_form.contentIn) }}
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="inputFile">Load input file</label>
                        <input type="file" id="inputFile" onchange="readText(this, 'std_contentIn')">
                    </div>
                </div>
                <div class="col-md-8">
                    {{ form_row(edit_form.contentOut) }}
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="outputFile">Load output file</label>
                        <input type="file" id="outputFile" onchange="readText(this, 'std_contentOut')">
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-md btn-primary" id="submit_btn">Save</button>
                </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}