{% extends 'base.html.twig' %}

{% block title %}Management{% endblock %}

{% block body %}
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Task
            <div class="pull-right">
                <a href="{{ path('task_new') }}" class="btn btn-xs btn-primary">New</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.content[:100] }}...</td>
                    <td>
                        <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-xs btn-default">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Sandbox
            <div class="pull-right">
                <a href="{{ path('sandbox_new') }}" class="btn btn-xs btn-primary">New</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Ip</th>
                    <th>Port</th>
                </tr>
            </thead>
            <tbody>
            {% for sandbox in sandboxes %}
                <tr>
                    <td>{{ sandbox.ip }}</td>
                    <td>{{ sandbox.port }}</td>
                    <td><a href="{{ path('sandbox_edit', { 'id': sandbox.id }) }}" class="btn btn-xs btn-default">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Language
            <div class="pull-right">
                <a href="{{ path('language_new') }}" class="btn btn-xs btn-primary">New</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Mode</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for language in languages %}
                <tr>
                    <td>{{ language.name }}</td>
                    <td>
                        {% if language.mode == 0 %}Compiled
                        {% elseif language.mode == 1 %}Interpreted
                        {% elseif language.mode == 2 %}Bytecode
                        {% elseif language.mode == -1 %}Package
                        {% endif %}
                    <td>
                        <a href="{{ path('language_edit', { 'id': language.id }) }}" class="btn btn-xs btn-default">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Judge
            <div class="pull-right">
                <a href="{{ path('judge_new') }}" class="btn btn-xs btn-primary">New</a>
            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for judge in judges %}
                <tr>
                    <td>{{ judge.name }}</td>
                    <td><a href="{{ path('judge_edit', { 'id': judge.id }) }}" class="btn btn-xs btn-default">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
