{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Create task</div>
        <div class="panel-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="Submit" value="Save" class="btn btn-md btn-primary">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
