{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/task.js') }}"></script>
{% endblock %}

{% block body %}
    {% if not files %}
    <div class="alert alert-danger">
        <strong>Warning!</strong> You must add at least one stdout.
    </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">Task edit
            <div class="pull-right">
                {{ form_start(delete_form) }}
                    <button type="button" onclick="window.history.back()" class="btn btn-xs btn-warning">Back</button>
                    <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                    <button type="button" class="btn btn-xs btn-primary" id="submit_btn">Save</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="col-xs-12">
                    <fieldset>
                        <legend>Task</legend>
                        {{ form_start(edit_form) }}
                            {{ form_widget(edit_form) }}
                        {{ form_end(edit_form) }}
                    </fieldset>
                </div>
                <div class="col-xs-12" style="margin-top:20px">
                    <fieldset>
                        <legend>stdin / stdout</legend>
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>In</th>
                                    <th>Out</th>
                                    <th><a href="{{ path('std_new', { 'taskId': task.id }) }}" class="btn btn-xs btn-primary pull-right">New</a>
                                </tr>
                            </thead>
                            <tbody>
                                {% if files %}
                                    {% for file in files %}
                                        <tr>
                                            <td>{{ file.in.content[:20] }}</td>
                                            <td>{{ file.out.content[:20] }}</td>
                                            <td><a href="{{ path('std_edit', { 'idIn': file.in.id, 'idOut': file.out.id }) }}" class="btn btn-xs btn-default pull-right">Details</a>
                                         </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr><td colspan="3" class="text-center">No files</td></tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>Limits</legend>
                    <form>
                        {% for limit in limits %}
                        <div class="form-group">
                            <label for="{{ limit.field }}">{{ limit.name }}</label>
                            <input type="number" class="form-control input-sm" id="{{ limit.field }}">
                            <small class="text-muted">{{ limit.description }}</small>
                        </div>
                        {% endfor %}
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
