<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Sandbox {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        
		<script src="{{ asset('js/jquery/jquery-2.2.3.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>
    </head>
    <body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Sandbox</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('run_index') }}">Run</a></li>
						<li><a href="{{ path('result_index') }}">Results</a></li>
						<li><a href="{{ path('management_index') }}">Management</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Logout</a></li>
								<li><a href="#">...</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
    
    	<div class="container">
	        {% block body %}{% endblock %}
	    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
