{% extends 'base.html.twig' %}

{% block title %}Language{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/language.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Create Language
        	<div class="pull-right">
                <a href="{{ path('management_index') }}" class="btn btn-xs btn-warning">Back</a>
                    <button type="button" class="btn btn-xs btn-primary" id="submit_btn">Save</button>
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

            <div class="form-group">
                <label for="compile">Compile command</label>
                <input type="text" class="form-control" id="compile">
                <small class="text-muted">Only when the mode compilation</small>
            </div>
            <div class="form-group">
                <label for="run">Run command</label>
                <input type="text" class="form-control" id="run">
            </div>
        </div>
    </div>
{% endblock %}