{% extends 'base.html.twig' %}

{% block title %}Language{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/language.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Language edit
        	<div class="pull-right">
                {{ form_start(delete_form) }}
                    <button type="button" onclick="window.history.back()" class="btn btn-xs btn-warning">Back</button>
                    <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                    <button type="button" class="btn btn-xs btn-primary" id="submit_btn">Save</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            {{ form_end(edit_form) }}

            <div class="form-group">
                <label for="compile">Compile command</label>
                <input type="text" class="form-control" id="compile">
                <small class="text-muted">Only when the mode compilation</small>
            </div>
            <div class="form-group">
                <label for="run">Run command</label>
                <input type="text" class="form-control" id="run">
            </div>
        </div>
    </div>
{% endblock %}