{% extends 'base.html.twig' %}

{% block title %}Compare{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Compare result
            	<div class="pull-right">
					<button type="button" onclick="window.history.back()" class="btn btn-xs btn-warning">Back</button>
                </div>
            </div>
            <div class="panel-body">
    			<div class="col-md-6">
    				Pattern
    				<div class="well">
    					{{ outputFile.content }}
    				</div>
    			</div>
    			<div class="col-md-6">
    				Result
    				<div class="well">
    					{{ resultFile.content }}
    				</div>
    			</div>
            </div>
        </div>
    </div>
{% endblock %}
