{% extends 'base.html.twig' %}

{% block title %}Result{% endblock %}

{% block body %}
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">Result</div>
            <table class="table table-striped table-hover">
                <tr>
                    <td>Id</td>
                    <td>{{ result.id }}</td>
                </tr>
                <tr>
                    <td>Sandbox</td>
                    <td><a href="{{ path('sandbox_edit', { 'id': result.sandbox.id }) }}">{{ result.sandbox.ip }}:{{ result.sandbox.port }}</a></td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td><a href="{{ path('language_edit', { 'id': result.language.id }) }}">{{ result.language.name }}</a></td>
                </tr>
                <tr>
                    <td>Task</td>
                    <td><a href="{{ path('task_edit', { 'id': result.task.id }) }}">{{ result.task.title }}</a></td>
                </tr>
                <tr>
                    <td>Ip</td>
                    <td>{{ result.ip }}</td>
                </tr>
                <tr>
                    <td>Uuid</td>
                    <td>{{ result.uuid }}</td>
                </tr>
                <tr>
                    <td>Result</td>
                    <td>{{ status[result.result] }}</td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td>{{ result.rate }}</td>
                </tr>
                <tr>
                    <td>Times</td>
                    <td>{{ result.times }}</td>
                </tr>
                <tr>
                    <td>CreateAt</td>
                    <td>{{ result.createdAt | date('d-m-Y H:m:s') }}</td>
                </tr>
                <tr>
                    <td>Sourcecode</td>
                    <td>
                        <pre>{{ result.code }}</pre></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Stdout</div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Content</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% set idx = 0 %}
                    {% for file in result.resultFiles %}
                    <tr>
                        <td>{{ file.content }}</td>
                        <td>{{ (times[idx] * 1000) | number_format(4) }} s</td>
                        <td><a href="{{ path('result_compare', { 'id': file.id }) }}" class="btn btn-xs btn-default">Compare</a></td>
                    </tr>
                    {% set idx = idx + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
