{% extends 'base.html.twig' %}

{% block title %}Results{% endblock %}

{% block body %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Results</div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Created at</th>
                    <th>Ip</th>
                    <th>Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.task.title }}</td>
                    <td>{{ result.createdAt | date('d-m-Y H:m:s') }}</td>
                    <td>{{ result.ip }}</td>
                    <td>{{ result.rate }}</td>
                    <td><a href="{{ path('result_show', {'id':result.id}) }}" class="btn btn-xs btn-default">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
