{% extends 'base.html.twig' %}

{% block title %}Run{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/ace/ace.js') }}"></script>
        <script src="{{ asset('js/sandbox/sandbox.js') }}"></script>
        <script src="{{ asset('js/run.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Run</div>
        <div class="panel-body">
            {{ form_start(form) }}
                <div class="col-md-6">
                    {{ form_row(form.task) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.language) }}
                </div>
            {{ form_end(form) }}

            <div id="editor" style="width:100%;height:300px;"></div>
            <div style="margin:10px" class="pull-right">
                <button type="button" class="btn btn-md btn-primary" id="submit_btn">Submit</button>
            </div>
        </div>
    </div>


    <div id="loaderModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i><br><br>
                    <span id="loaderContent">Compiling and runing...</span>
                </div>
            </div>
        </div>
    </div>

        <div id="infoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="modal-body">
                        <span id="infoContent"></span><br>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
