{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Create Sandbox
        	<div class="pull-right">
                <a href="{{ path('management_index') }}" class="btn btn-xs btn-warning">Back</a>
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-md btn-primary" id="submit_btn">Save</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}