{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Sandbox edit
        	<div class="pull-right">
                {{ form_start(delete_form) }}
                    <button type="button" onclick="window.history.back()" class="btn btn-xs btn-warning">Back</button>
                    <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
        <div class="panel-body">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                    <button type="submit" class="btn btn-md btn-primary" id="submit_btn">Save</button>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}